<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <section class="showcase">
      <header>
        <h2 class="logo">Travel</h2>
        <div class="toggle"></div>
      </header>

<!-- Sample Video provided by DesignSupply https://codepen.io/designsupply/pen/zmEWBm -->
      <!-- Download Video Source and host the file on your own server -->
      <!-- For example: https://www.pexels.com/video/aerial-view-of-beautiful-resort-2169880/ -->
      <div class="overlay"></div>
      <div class="text">
        <h2>Never Stop</h2>
        <h3>Exploring The World</h3>
        <p>
          Unlock the world with our premier travel agency, your ultimate destination for unparalleled experiences.
        </p>
        <a href="destination">Explore</a>
      </div>
      <ul class="social">
        <li>
          <a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
        </li>
        <li>
          <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
        </li>
        <li>
          <a href="https://www.instagram.com/basil__ge0rge?igsh=bzUzZ2libmVrd2sx"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
        </li>
      </ul>
    </section>
    <div class="menu">
      <ul>
        <li><a href="main">Home</a></li>
        <li><a href="package">Packages</a></li>
        <li><a href="destination">Destination</a></li>
        <li><a href="contact">Contact Us</a></li>
        <li><a href="about">About Us</a></li>
      </ul>
    </div>
<script>
    const menuToggle = document.querySelector(".toggle");
const showcase = document.querySelector(".showcase");

menuToggle.addEventListener("click", () => {
  menuToggle.classList.toggle("active");
  showcase.classList.toggle("active");
});
</script>
</body>
</html>