<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/package.css">
</head>
<body>
    <section class="showcase">
      <header>
       <h2 class="logo">Travel</h2>
        <div class="toggle"></div>
      </header>
<!-- Sample Video provided by DesignSupply https://codepen.io/designsupply/pen/zmEWBm -->
      <!-- Download Video Source and host the file on your own server -->
      <!-- For example: https://www.pexels.com/video/aerial-view-of-beautiful-resort-2169880/ -->

        <!-- PROMOTION -->

<section class="promotion__container">
  <p class="sub-title__text">PROMOTIONS</p>
  <h2 class="title__text">OUR <span class="--title__text-underline promotion-text">PACKAGES</span></h2>

  <article class="promotion__wrap">
    <div class="promotion__item">
      <div class="promotion__item-img --item-img-1">
        <div class="promotion__item-sticker-1">
          <img class="sticker__img" src="https://leloc90.github.io/loveTravel/assets/images/arch.png" alt="">
        </div>
      </div>
      <div class="promotion__item-info">
        <div class="promotion__item-head">
          <h5>Berlin</h5>
          <p><i class='bx bx-map'></i>Europe</p>
        </div>
        <div class="promotion__item-thema">
          <div class="promotion__item-thema-text">
            <p>CULTURAL</p>
            <P>RELAX<span style="background-color: #ffd205;">+ 1</span></P>

          </div>
          <div class="promotion__item-thema-price">
            <span>900 $</span>
          </div>
        </div>
        <div class="promotion__item-desc">
          <p>Explore the vibrant streets of Berlin, where history meets contemporary culture.</p>
        </div>
        <a href="contact" class="pri-btn promotion-btn-1">CONTACT US</a>
      </div>
    </div>


     <div class="promotion__item">
      <div class="promotion__item-img --item-img-2">
        <div class="promotion__item-sticker-1">
          <img class="sticker__img" src="https://leloc90.github.io/loveTravel/assets/images/arch.png" alt="">
        </div>
      </div>
      <div class="promotion__item-info">
        <div class="promotion__item-head">
          <h5>Amsterdam</h5>
          <p><i class='bx bx-map'></i>Europe</p>
        </div>
        <div class="promotion__item-thema">
          <div class="promotion__item-thema-text">
            <p>CULTURAL</p>
            <P>RELAX<span style="background-color: #ffd205;">+ 1</span></P>

          </div>
          <div class="promotion__item-thema-price">
            <span>700 $</span>
          </div>
        </div>
        <div class="promotion__item-desc">
          <p>In Amsterdam, wander along picturesque canals lined with charming Dutch architecture.</p>
        </div>
        <a href="contact" class="pri-btn promotion-btn-1">CONTACT US</a>
      </div>
    </div>


     <div class="promotion__item">
      <div class="promotion__item-img --item-img-3">
        <div class="promotion__item-sticker-1">
          <img class="sticker__img" src="https://leloc90.github.io/loveTravel/assets/images/arch.png" alt="">
        </div>
      </div>
      <div class="promotion__item-info">
        <div class="promotion__item-head">
          <h5>Tuscany</h5>
          <p><i class='bx bx-map'></i>Europe</p>
        </div>
        <div class="promotion__item-thema">
          <div class="promotion__item-thema-text">
            <p>CULTURAL</p>
            <P>RELAX<span style="background-color: #ffd205;">+ 1</span></P>

          </div>
          <div class="promotion__item-thema-price">
            <span>650 $</span>
          </div>
        </div>
        <div class="promotion__item-desc">
          <p>Escape to the rolling hills of Tuscany, where rustic charm meets timeless beauty. </p>
        </div>
        <a href="contact" class="pri-btn promotion-btn-1">CONTACT US</a>
      </div>
    </div>
  </article>

    <article class="promotion__wrap">

    <div class="promotion__item">
      <div class="promotion__item-img --item-img-4">
        <div class="promotion__item-sticker-2">
          <img class="sticker__img" src="https://leloc90.github.io/loveTravel/assets/images/torii-gate.png" alt="">
        </div>
      </div>
      <div class="promotion__item-info">
        <div class="promotion__item-head">
          <h5>Hong Kong</h5>
          <p><i class='bx bx-map'></i>Asia</p>
        </div>
        <div class="promotion__item-thema">
          <div class="promotion__item-thema-text">
            <p>HISTORY</p>
            <P>CULTURAL<span style="background-color: #f76570;">+ 1</span></P>

          </div>
          <div class="promotion__item-thema-price">
            <span class="old-price">1000</span>
            <span>750 $</span>
          </div>
        </div>
        <div class="promotion__item-desc">
          <p>Experience the electrifying energy of Hong Kong, where East meets West in a fusion of culture and commerce.</p>
        </div>
        <a href="contact" class="pri-btn promotion-btn-2">CONTACT US</a>
      </div>
    </div>


       <div class="promotion__item">
      <div class="promotion__item-img --item-img-5">
        <div class="promotion__item-sticker-2">
          <img class="sticker__img" src="https://leloc90.github.io/loveTravel/assets/images/torii-gate.png" alt="">
        </div>
      </div>
      <div class="promotion__item-info">
        <div class="promotion__item-head">
          <h5>Phuket</h5>
          <p><i class='bx bx-map'></i>Asia</p>
        </div>
        <div class="promotion__item-thema">
          <div class="promotion__item-thema-text">
            <p>HISTORY</p>
            <P>CULTURAL<span style="background-color: #f76570;">+ 1</span></P>

          </div>
          <div class="promotion__item-thema-price">
            <span class="old-price">1000</span>
            <span>500 $</span>
          </div>
        </div>
        <div class="promotion__item-desc">
          <p>In Phuket, surrender to the allure of tropical paradise as you soak up the sun on pristine beaches and crystal-clear waters. </p>
        </div>
        <a href="contact" class="pri-btn promotion-btn-2">CONTACT US</a>
      </div>
    </div>


    <div class="promotion__item">
      <div class="promotion__item-img --item-img-6">
        <div class="promotion__item-sticker-3">
          <img class="sticker__img" src="https://leloc90.github.io/loveTravel/assets/images/golden-gate.png" alt="">
        </div>
      </div>
      <div class="promotion__item-info">
        <div class="promotion__item-head">
          <h5>Sanfrancisco</h5>
          <p><i class='bx bx-map'></i>United State</p>
        </div>
        <div class="promotion__item-thema">
          <div class="promotion__item-thema-text">
            <p>SPORT</p>
            <P>RELAX<span style="background-color: #ba71da;">+ 1</span></P>

          </div>
          <div class="promotion__item-thema-price">
            <span>800 $</span>
          </div>
        </div>
        <div class="promotion__item-desc">
          <p>Discover the eclectic charm of San Francisco, where iconic landmarks like the Golden Gate Bridge and Alcatraz Island await.</p>
        </div>
        <a href="contact" class="pri-btn promotion-btn-3">CONTACT US</a>
      </div>
    </div>
  </article>

</section>



      <ul class="social">
        <li>
          <a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
        </li>
        <li>
          <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
        </li>
        <li>
          <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
        </li>
      </ul>
    </section>
    <div class="menu">
  <ul>
        <li><a href="main">Home</a></li>
        <li><a href="package">Packages</a></li>
        <li><a href="destination">Destination</a></li>
        <li><a href="contact">Contact Us</a></li>
        <li><a href="about">About Us</a></li>
      </ul>
    </div>
<script>
    const menuToggle = document.querySelector(".toggle");
const showcase = document.querySelector(".showcase");

menuToggle.addEventListener("click", () => {
  menuToggle.classList.toggle("active");
  showcase.classList.toggle("active");
});
</script>
</body>
</html>